In [2]:
import pandas as pd
import numpy as np
import os

CLEAN ENEXIS NET

varname = restrictions

In [19]:
urlRestrictions = "https://raw.githubusercontent.com/lucasnijder/2AMD20-group19/main/1_source_data/Clean_Enexis_net.csv"
dfRestrictions = pd.read_csv(urlRestrictions, header=0, encoding= "unicode_escape", sep ="," )

columnRenaming_restrictions = {'Postal_Code':'Postcode',
                                'Color':'Kleur',
                                'Station':'EnergieStation'}
columnsNecessary_restrictions = ["Postcode","Kleur","EnergieStation"]

preProcessed_dfRestrictions = dfRestrictions.rename(columnRenaming_restrictions, axis=1)
preProcessed_dfRestrictions = preProcessed_dfRestrictions[columnsNecessary_restrictions]
preProcessed_dfRestrictions['EnergieStation'] = preProcessed_dfRestrictions['EnergieStation'].str.strip().str.upper()
preProcessed_dfRestrictions.to_csv('2_preprocessed_data/Restrictions.csv', index=False)
preProcessed_dfRestrictions

    Postcode   Kleur         EnergieStation
0     4251AA  ORANJE              BIESBOSCH
1     4254AA  ORANJE              BIESBOSCH
2     4261AA    ROOD               WAALWIJK
3     4264AA    ROOD               WAALWIJK
4     4271AA  ORANJE        GEERTRUIDENBERG
..       ...     ...                    ...
958   9979AA    GEEL           WINSUM RANUM
959   9981AA    GEEL  EEMSHAVEN-MIDDEN 20KV
960   9982AA    GEEL  EEMSHAVEN-MIDDEN 20KV
961   9989AA    GEEL           WINSUM RANUM
962   9991AA    GEEL           WINSUM RANUM

[963 rows x 3 columns]

GEMEENTEN ALFABETISCH

varname = Municipalities

In [20]:
urlMunicipalities = "https://raw.githubusercontent.com/lucasnijder/2AMD20-group19/main/1_source_data/Gemeenten_alfabetisch_2019.xls"
dfMunicipalities = pd.read_excel(urlMunicipalities)

columnRenaming_municipalities = {}
columnsNecessary_municipalities = ['Gemeentecode','Gemeentenaam','Provinciecode','Provincienaam']

preProcessed_dfMunicipalities = dfMunicipalities[columnsNecessary_municipalities]
preProcessed_dfMunicipalities['Gemeentenaam'] = preProcessed_dfMunicipalities['Gemeentenaam'].str.strip().str.upper()
preProcessed_dfMunicipalities['Provincienaam'] = preProcessed_dfMunicipalities['Provincienaam'].str.strip().str.upper()
preProcessed_dfMunicipalities.to_csv('2_preprocessed_data/Municipalities.csv', index=False)
preProcessed_dfMunicipalities

/tmp/ipykernel_839/1785527482.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  preProcessed_dfMunicipalities['Gemeentenaam'] = preProcessed_dfMunicipalities['Gemeentenaam'].str.strip().str.upper()
/tmp/ipykernel_839/1785527482.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  preProcessed_dfMunicipalities['Provincienaam'] = preProcessed_dfMunicipalities['Provincienaam'].str.strip().str.upper()

     Gemeentecode     Gemeentenaam  Provinciecode  Provincienaam
0            1680      AA EN HUNZE             22        DRENTHE
1             358         AALSMEER             27  NOORD-HOLLAND
2             197           AALTEN             25     GELDERLAND
3              59    ACHTKARSPELEN             21      FRIESLAND
4             482     ALBLASSERDAM             28   ZUID-HOLLAND
..            ...              ...            ...            ...
350           879          ZUNDERT             30  NOORD-BRABANT
351           301          ZUTPHEN             25     GELDERLAND
352          1896  ZWARTEWATERLAND             23     OVERIJSSEL
353           642      ZWIJNDRECHT             28   ZUID-HOLLAND
354           193           ZWOLLE             23     OVERIJSSEL

[355 rows x 4 columns]

WINDENERGIE

varname = Wind

In [21]:
urlWind = "https://raw.githubusercontent.com/lucasnijder/2AMD20-group19/main/1_source_data/Windenergie_op_land__per_provincie_24052022_142754.csv"
dfWind = pd.read_csv(urlWind, header=0, encoding= "unicode_escape", sep =";" )

new_region_name = 'Regio'
columnRenaming_wind = {"ï»¿\"Regio's\"":new_region_name, 
                        "Perioden":"Periode"}
columnsNecessary_wind = ['Regio','Periode',
                            'Elektriciteitsproductie/Genormaliseerde productie (mln kWh)',
                        	'Elektriciteitsproductie/Productiefactor (%)',
                            'Elektrisch vermogen/Opgesteld vermogen einde jaar (megawatt)']
                            
preProcessed_dfWind = dfWind.rename(columnRenaming_wind, axis=1)
preProcessed_dfWind = preProcessed_dfWind[columnsNecessary_wind]
preProcessed_dfWind = preProcessed_dfWind[preProcessed_dfWind['Periode'] == 2019]
preProcessed_dfWind = preProcessed_dfWind.drop('Periode', axis=1)
preProcessed_dfWind[new_region_name] = preProcessed_dfWind[new_region_name].str.replace('\(PV\)', '').str.strip().replace('FryslÃ¢n', 'Friesland').str.upper()



preProcessed_dfWind.to_csv('2_preprocessed_data/WindEnergie.csv', index=False)
preProcessed_dfWind

/tmp/ipykernel_839/1458524100.py:16: FutureWarning: The default value of regex will change from True to False in a future version.
  preProcessed_dfWind[new_region_name] = preProcessed_dfWind[new_region_name].str.replace('\(PV\)', '').str.strip().replace('FryslÃ¢n', 'Friesland').str.upper()

,Regio,Elektriciteitsproductie/Genormaliseerde productie (mln kWh),Elektriciteitsproductie/Productiefactor (%),Elektrisch vermogen/Opgesteld vermogen einde jaar (megawatt)
0,NEDERLAND,7429.0,"25,9",3527
2,GRONINGEN,986.0,"26,7",450
4,FRIESLAND,415.0,"25,8",197
6,DRENTHE,NaN,NaN,22
8,OVERIJSSEL,86.0,"23,1",61
10,FLEVOLAND,2424.0,"24,8",1175
12,GELDERLAND,152.0,"22,7",82
14,UTRECHT,78.0,"27,8",34
16,NOORD-HOLLAND,635.0,24,313
18,ZUID-HOLLAND,956.0,"27,7",437
20,ZEELAND,1189.0,"28,3",519
22,NOORD-BRABANT,442.0,"25,3",225
24,LIMBURG,NaN,NaN,13

ENERGIEVERBRUIK PARTICULIER

varname = energyUsage

<sup>--> vraag: willen we iets doen met woningkenmerken (e.g. rijtjeshuis)?<sup>

In [22]:
urlEnergyUsage = "https://raw.githubusercontent.com/lucasnijder/2AMD20-group19/main/1_source_data/energieverbruik%20particuliere%20woniningen%20-%2084837NED_UntypedDataSet_21052022_135719.csv"
dfEnergyUsage = pd.read_csv(urlEnergyUsage, header=0, encoding= "unicode_escape", sep =";")

columnRenaming_energyUsage = {"Gemeentenaam_1":'Gemeentenaam', 
                        "GemiddeldAardgasverbruik_4":"GemiddeldAardgasverbruik",
                        "GemiddeldElektriciteitsverbruik_5":"GemiddeldElektriciteitsverbruik"}
columnsNecessary_energyUsage = ["Gemeentenaam", "GemiddeldAardgasverbruik","GemiddeldElektriciteitsverbruik"]

preProcessed_dfEnergyUsage = dfEnergyUsage.rename(columnRenaming_energyUsage, axis=1)
preProcessed_dfEnergyUsage = preProcessed_dfEnergyUsage[columnsNecessary_energyUsage]

preProcessed_dfEnergyUsage["GemiddeldAardgasverbruik"] = pd.to_numeric(preProcessed_dfEnergyUsage["GemiddeldAardgasverbruik"], errors="coerce")
preProcessed_dfEnergyUsage["GemiddeldElektriciteitsverbruik"] = pd.to_numeric(preProcessed_dfEnergyUsage["GemiddeldElektriciteitsverbruik"], errors="coerce")

grouped_preProcessed_dfEnergyUsage = preProcessed_dfEnergyUsage.groupby(["Gemeentenaam"])[["GemiddeldAardgasverbruik","GemiddeldElektriciteitsverbruik"]].sum().reset_index()
grouped_preProcessed_dfEnergyUsage['Gemeentenaam'] = grouped_preProcessed_dfEnergyUsage['Gemeentenaam'].str.strip().str.upper()


grouped_preProcessed_dfEnergyUsage.to_csv('2_preprocessed_data/EnergyUsage.csv', index=False)
grouped_preProcessed_dfEnergyUsage

,Gemeentenaam,GemiddeldAardgasverbruik,GemiddeldElektriciteitsverbruik
0,'S-GRAVENHAGE,1344290.0,3002430.0
1,'S-HERTOGENBOSCH,985580.0,2318090.0
2,AA EN HUNZE,632890.0,1093470.0
3,AALSMEER,148310.0,319190.0
4,AALTEN,325310.0,690380.0
...,...,...,...
351,ZUNDERT,186160.0,404530.0
352,ZUTPHEN,370140.0,756230.0
353,ZWARTEWATERLAND,361420.0,742320.0
354,ZWIJNDRECHT,656700.0,1468820.0
355,ZWOLLE,772210.0,1698240.0

INWONERS PER GEMEENTE

varname = InhabitantsMunicipality

In [23]:
urlInhabitantsMunicipality = "https://raw.githubusercontent.com/lucasnijder/2AMD20-group19/main/1_source_data/inwoners%20per%20gemeente.csv"
dfInhabitantsMunicipality = pd.read_csv(urlInhabitantsMunicipality, header=0, encoding= "unicode_escape", sep =";" )

columnRenaming_inhabitantsMunicipality = {'Gemeente':'Gemeentenaam'}
columnsNecessary_inhabitantsMunicipality = ["Gemeentenaam", "Inwoneraantal" ,"Groot, middelgroot en klein"]
                            
preProcessed_inhabitantsMunicipality = dfInhabitantsMunicipality.rename(columnRenaming_inhabitantsMunicipality, axis=1)
preProcessed_inhabitantsMunicipality = preProcessed_inhabitantsMunicipality[columnsNecessary_inhabitantsMunicipality]

preProcessed_inhabitantsMunicipality["Inwoneraantal"] = pd.to_numeric(preProcessed_inhabitantsMunicipality["Inwoneraantal"], errors="coerce")
preProcessed_inhabitantsMunicipality = preProcessed_inhabitantsMunicipality[preProcessed_inhabitantsMunicipality["Inwoneraantal"] > 30000]
preProcessed_inhabitantsMunicipality['Gemeentenaam'] = preProcessed_inhabitantsMunicipality['Gemeentenaam'].map(lambda x: x.strip("?")).str.strip().str.upper()

preProcessed_inhabitantsMunicipality.to_csv('2_preprocessed_data/InhabitantsMunicipality.csv', index=False)
preProcessed_inhabitantsMunicipality

            Gemeentenaam  Inwoneraantal Groot, middelgroot en klein
1               AALSMEER          31499                       Klein
6                ALKMAAR         108470                       Groot
7                 ALMELO          72629                 Middelgroot
8                 ALMERE         203990                       Groot
9    ALPHEN AAN DEN RIJN         109682                       Groot
..                   ...            ...                         ...
347           ZOETERMEER         124695                       Groot
349             ZUIDPLAS          41882                       Klein
351              ZUTPHEN          47537                       Klein
353          ZWIJNDRECHT          44586                       Klein
354               ZWOLLE         126116                       Groot

[177 rows x 3 columns]

PC6-GWB2020

varname = postcodeMunicipality

In [7]:
urlpostcodeMunicipality = "https://raw.githubusercontent.com/lucasnijder/2AMD20-group19/main/1_source_data/pc6-gwb2020.csv"
dfPostcodeMunicipality = pd.read_csv(urlpostcodeMunicipality, header=0, encoding= "unicode_escape", sep =";" )

columnRenaming_postcodeMunicipality = {"PC6":"Postcode",
                                        "Gemeente2020":"Gemeentecode"}
columnsNecessary_postcodeMunicipality = ["Postcode", "Gemeentecode"]
                            
preProcessed_postcodeMunicipality = dfPostcodeMunicipality.rename(columnRenaming_postcodeMunicipality, axis=1)
preProcessed_postcodeMunicipality = preProcessed_postcodeMunicipality[columnsNecessary_postcodeMunicipality]

preProcessed_postcodeMunicipality.to_csv('2_preprocessed_data/postcodeMunicipality.csv', index=False)
preProcessed_postcodeMunicipality

       Postcode  Gemeentecode
0        1011AB           363
1        1011AC           363
2        1011AD           363
3        1011AE           363
4        1011AG           363
...         ...           ...
489648   9999XH          1966
489649   9999XJ          1966
489650   9999XJ          1966
489651   9999XK          1966
489652   9999XL          1966

[489653 rows x 2 columns]

ZONNESTROOM VERMOGEN

varname = sun

In [25]:
urlSun = "https://raw.githubusercontent.com/lucasnijder/2AMD20-group19/main/1_source_data/zonnestroom%20vermogen%202019%20-%2085010NED_UntypedDataSet_21052022_134211.csv"
dfSun = pd.read_csv(urlSun, header=0, encoding= "unicode_escape", sep =";" )

columnRenaming_sun = {"Gemeentenaam_1":"Gemeentenaam",
                    "AantalInstallatiesBijWoningen_5":"AantalInstallatiesBijWoningen",
                    "OpgesteldVermogenVanZonnepanelen_6":"OpgesteldVermogenVanZonnepanelen"}
columnsNecessary_sun = ["Gemeentenaam", "AantalInstallatiesBijWoningen" , "OpgesteldVermogenVanZonnepanelen"]
                            
preProcessed_sun = dfSun.rename(columnRenaming_sun, axis=1)
preProcessed_sun = preProcessed_sun[columnsNecessary_sun]

grouped_preProcessed_sun = preProcessed_sun.groupby(["Gemeentenaam"])[["AantalInstallatiesBijWoningen", "OpgesteldVermogenVanZonnepanelen"]].sum().reset_index()
grouped_preProcessed_sun = grouped_preProcessed_sun[grouped_preProcessed_sun['Gemeentenaam'] != '                                        ']
grouped_preProcessed_sun['Gemeentenaam'] = grouped_preProcessed_sun['Gemeentenaam'].str.strip()

grouped_preProcessed_sun.to_csv('2_preprocessed_data/Sun.csv', index=False)
grouped_preProcessed_sun

,Gemeentenaam,AantalInstallatiesBijWoningen,OpgesteldVermogenVanZonnepanelen
1,'s-Gravenhage,29805.0,76786.0
2,'s-Hertogenbosch,18673.0,66087.0
3,Aa en Hunze,7634.0,29820.0
4,Aalsmeer,4866.0,17104.0
5,Aalten,5919.0,22730.0
...,...,...,...
353,Zundert,3513.0,15257.0
354,Zutphen,8097.0,23831.0
355,Zwartewaterland,3404.0,11751.0
356,Zwijndrecht,4229.0,13015.0
357,Zwolle,28684.0,87308.0

WEERDATA

varname = WeerStation

In [26]:
dfTotaalWeerStations = pd.DataFrame()

path = "1_source_data/klimaattabellen"
WS_list = os.listdir(path)

for WS in WS_list:
    urlWeerStation = f"https://raw.githubusercontent.com/lucasnijder/2AMD20-group19/main/1_source_data/klimaattabellen/{WS}"
    ColumnNames = ['metric', 'jan', 'feb', 'mar', 'apr', 'may', 'jun', 'jul', 'aug', 'sep', 'okt', 'nov', 'dec', 'winter', 'lente', 'zomer', 'herfst', 'jaar']
    dfWeerStation = pd.read_csv(urlWeerStation, encoding= "unicode_escape", sep =",", comment='#', names=ColumnNames).set_index('metric')['jaar']
    dfTotaalWeerStations[WS[:-4]] = dfWeerStation
    
dfTotaalWeerStations = dfTotaalWeerStations.T

In [29]:

dfTotaalWeerStations.columns = dfTotaalWeerStations.columns.map(lambda x: x.strip(" "))

columnsNecessary_WeerStation = [col for col in dfTotaalWeerStations.columns if col.startswith('FXX') or col.startswith('pct') or col.startswith('FG')]
columnsNecessary_WeerStation.append('TG_gemiddeld')

preProcessed_TotaalWeerStation = dfTotaalWeerStations[columnsNecessary_WeerStation].reset_index()
preProcessed_TotaalWeerStation = preProcessed_TotaalWeerStation.rename_axis(None, axis=1)
preProcessed_TotaalWeerStation = preProcessed_TotaalWeerStation.rename({'index':'WeerStation'}, axis=1)
preProcessed_TotaalWeerStation['WeerStation'] = preProcessed_TotaalWeerStation['WeerStation'].str.replace('_', ' ').str.upper()

preProcessed_TotaalWeerStation.to_csv('2_preprocessed_data/TotaalWeerStation.csv', index=False)
preProcessed_TotaalWeerStation

,WeerStation,pctzon_gemiddeld,pctzon_hoogstens_20,pctzon_tussen_20_en_50,pctzon_tussen_50_en_80,pctzon_minstens_80,FG_gemiddeld,FG_max,FXX_gemiddeld,FXX_max,FXX_minstens_21,FXX_minstens_28,TG_gemiddeld
0,VOLKEL,37.2,136.4,102.8,78.8,47.2,3.7,10.6,10.2,26.4,6.0,0.2,10.5
1,LELYSTAD,37.6,133.5,102.6,83.4,45.7,4.4,11.9,10.9,27.8,9.0,0.6,10.2
2,HERWIJNEN,37.6,131.3,105.9,83.2,44.8,4.1,11.9,10.6,26.9,8.7,0.4,10.3
3,MAASTRICHT,36.1,144.0,100.9,73.1,47.2,4.2,11.3,10.6,26.5,7.7,0.4,10.7
4,VLISSINGEN,40.2,121.2,99.8,92.8,51.5,6.4,16.6,13.2,33.0,31.5,3.6,11.2
5,HUPSEL,36.3,139.0,103.5,77.1,45.6,3.4,9.5,9.9,25.9,5.0,0.3,10.1
6,SCHIPHOL,37.7,131.6,104.1,84.2,45.3,5.0,13.7,11.9,28.8,17.6,1.2,10.7
7,DE KOOI,39.8,124.1,100.3,90.3,50.6,5.6,14.6,12.5,29.7,21.7,1.6,10.5
8,HOEK VAN HOLLAND,40.0,123.0,99.4,92.6,50.2,7.3,16.9,14.1,32.7,37.3,3.5,11.0
9,DEELEN,35.0,145.4,104.6,74.3,41.0,3.8,10.2,10.7,26.1,6.2,0.4,10.1
10,BERKHOUT,38.6,126.5,105.5,87.0,46.3,NaN,NaN,NaN,NaN,NaN,NaN,10.3
11,GILZE-RIJEN,36.9,135.9,104.8,80.4,44.1,3.7,9.4,10.4,25.1,4.3,0.2,10.6
12,EINDHOVEN,36.9,137.3,102.8,79.8,45.4,3.8,10.3,10.3,26.1,5.7,0.4,10.7
13,MARKNESSE,38.2,128.6,105.4,84.0,47.2,4.2,11.1,10.8,26.2,6.9,0.2,10.1
14,ARCEN,35.8,143.2,103.6,74.3,44.1,3.1,8.7,9.6,24.2,3.6,0.2,10.6
15,HOORN,39.4,123.6,102.4,91.4,47.8,6.3,15.5,13.1,30.1,24.7,1.6,10.0
16,TWENTHE,35.7,143.2,103.1,73.5,45.3,3.5,9.5,10.2,25.6,5.0,0.2,10.0
17,VALKENBURG VOORSCHOTEN,39.0,127.3,100.3,89.1,48.6,4.8,13.1,11.9,28.8,17.9,1.0,10.6
18,CABAUW,-,-,-,-,-,4.3,12.7,10.8,28.0,10.4,0.7,10.4
19,STAVOREN,40.0,121.8,101.2,91.0,51.2,5.9,14.7,12.2,29.1,18.7,1.4,10.2
20,ROTTERDAM,37.1,134.0,105.8,82.4,43.0,4.4,12.3,11.4,27.8,13.7,0.7,10.7
21,NIEUW BEERTA,36.6,135.2,107.3,79.2,43.6,5.0,13.1,11.5,28.2,12.3,0.8,9.7
22,LEEUWARDEN,38.0,130.2,104.0,85.9,45.1,4.7,12.4,11.6,27.9,12.6,0.6,9.9
23,WESTDORPE,37.7,130.8,105.7,84.2,44.5,4.2,11.7,10.9,27.3,8.8,0.6,10.8
24,HOOGEVEEN,36.3,138.1,105.7,78.3,43.1,4.0,10.8,10.7,26.2,7.4,0.5,9.9
25,DE BILT,36.4,139.2,103.2,79.9,43.0,3.6,9.4,10.6,26.4,6.0,0.5,10.5
26,EELDE,35.6,140.5,107.8,78.5,38.4,4.2,11.7,11.0,26.9,9.4,0.4,9.8

In [70]:
dfLocatie_Weerstations = pd.DataFrame(columns=["LON(east)", "LAT(north)","ALT(m)", "WeerStation"])
path = "1_source_data/klimaattabellen"
WS_list = os.listdir(path)


for WS in WS_list:
    #hoek van holland is in another format for some reason
    if WS != "Hoek_van_Holland.csv":
        urlWeerStation = f"https://raw.githubusercontent.com/lucasnijder/2AMD20-group19/main/1_source_data/klimaattabellen/{WS}"
        # we get just the ninth row, pandas will interpret it as a dataframe with 1 column and no rows.
        dfWeerStation = pd.read_csv(urlWeerStation, encoding= "unicode_escape", sep =",", skiprows=lambda x: x != 9) 
        # so we take the name of that column as our raw lat long string
        # its in the format:
        #"# STN:         LON(east)       LAT(north)      ALT(m)  NAME"
        raw = dfWeerStation.columns[0]
        # format it into an array of format [LON(east), LAT(norht), ALT(m), NAME]
        raw = raw.split("  ")[1:]
        raw[:] = [x.strip() for x in raw if x]
        
        #turn it into a dataframe and concat it with the previous entries
        data = pd.DataFrame(pd.Series(raw, index=["LON(east)", "LAT(north)","ALT(m)", "WeerStation"])).T
        dfLocatie_Weerstations = pd.concat([dfLocatie_Weerstations, data], axis=0, ignore_index=True)

dfLocatie_Weerstations['WeerStation'] = dfLocatie_Weerstations['WeerStation'].str.strip()

dfLocatie_Weerstations.to_csv('2_preprocessed_data/LocatieWeerStation.csv', index=False)
dfLocatie_Weerstations

   LON(east) LAT(north)  ALT(m)           WeerStation
0      6.197     51.498   19.50                 ARCEN
1      4.979     52.644   -2.40              BERKHOUT
2      4.926     51.970   -0.70                CABAUW
3      5.873     52.056   48.20                DEELEN
4      5.180     52.100    1.90               DE BILT
5      4.781     52.928    1.20               DE KOOY
6      6.585     53.125    5.20                 EELDE
7      5.377     51.451   22.60             EINDHOVEN
8      4.936     51.566   14.90           GILZE-RIJEN
9      5.146     51.859    0.70             HERWIJNEN
10     6.574     52.750   15.80             HOOGEVEEN
11     5.346     53.392    0.70  HOORN (TERSCHELLING)
12     6.657     52.069   29.10                HUPSEL
13     5.752     53.224    1.20            LEEUWARDEN
14     5.520     52.458   -3.70              LELYSTAD
15     5.762     50.906  114.30            MAASTRICHT
16     5.888     52.703   -3.30             MARKNESSE
17     7.150     53.196   -0.20          NIEUW BEERTA
18     4.447     51.962   -4.30             ROTTERDAM
19     4.790     52.318   -3.30              SCHIPHOL
20     5.384     52.898   -1.30              STAVOREN
21     6.891     52.274   34.80               TWENTHE
22     4.437     52.141   -1.10           VOORSCHOTEN
23     3.596     51.442    8.00            VLISSINGEN
24     5.707     51.659   22.00                VOLKEL
25     3.861     51.226    1.70             WESTDORPE

In [59]:
urlgeolocMunicipality = "https://raw.githubusercontent.com/lucasnijder/2AMD20-group19/main/1_source_data/Alle-gemeenten-in-Nederland.xls"
dfgeolocMunicipality = pd.read_excel(urlgeolocMunicipality) #, header=0, encoding= "unicode_escape", sep =";" )

lattitudes = []
longitudes = []
for i, row in dfgeolocMunicipality.iterrows():
        rawcoords = row["geometry"].split(",")
        processedcoords = []
        #idk why, but some coordinates start with "0.0" before the actual coordinate
        #Its probably alright to remove those
        for coord in rawcoords:
            coord = ''.join(c for c in coord if (c.isdigit() or c =='.'))
            if coord[:3] == "0.0":
                coord = coord[3:]
            if coord != "":
                processedcoords.append(float(coord))
        
        
        tot_lat = 0
        tot_lon = 0
        
        if len(processedcoords) % 2 != 0:
            print("oh noes something is wrong")
            
        #add together all lattitude and longitude values
        for i in range(len(processedcoords)):
            if i%2 == 0:
                tot_lon += processedcoords[i]
            else:
                tot_lat += processedcoords[i]
        
        avg_lon = tot_lon/len(processedcoords) *2        
        avg_lat = tot_lat/len(processedcoords) *2
        
        
        longitudes.append(avg_lon)
        lattitudes.append(avg_lat)
    
dfgeolocMunicipality["LAT(north)"] = lattitudes        
dfgeolocMunicipality["LON(east)"] = longitudes

dfgeolocMunicipality.drop('GM_CODE', inplace=True, axis=1)
dfgeolocMunicipality.drop('geometry', inplace=True, axis=1)


dfgeolocMunicipality.rename(columns={'GM_NAAM': 'Gemeentenaam'}, inplace=True)

dfgeolocMunicipality.to_csv('2_preprocessed_data/geolocMunicipality.csv', index=False)
dfgeolocMunicipality

              Gemeentenaam  LAT(north)  LON(east)
0               Appingedam   53.322591   6.846875
1                    Bedum   53.297651   6.595166
2             Bellingwedde   53.105875   7.109351
3                 Ten Boer   53.286829   6.707331
4                 Delfzijl   53.315060   6.942684
..                     ...         ...        ...
426        Zwartewaterland   52.611554   6.072289
427  Leidschendam-Voorburg   52.088067   4.402316
428     Pijnacker-Nootdorp   52.020271   4.415794
429            Montferland   51.919063   6.229242
430            Menterwolde   53.168513   6.878375

[431 rows x 3 columns]

In [57]:
# aftstanden

import geopy.distance

url_gem_locs = "https://raw.githubusercontent.com/lucasnijder/2AMD20-group19/main/2_preprocessed_data/geolocMunicipality.csv"
df_gem_locs = pd.read_csv(url_gem_locs) #, header=0, encoding= "unicode_escape", sep =";" )
url_weer_locs = "https://raw.githubusercontent.com/lucasnijder/2AMD20-group19/main/2_preprocessed_data/LocatieWeerStation.csv"
df_weer_locs= pd.read_csv(url_weer_locs)

df_distances = pd.DataFrame(columns=["Gemeentenaam", "distance", "WeerStation"])

for gem in df_gem_locs.iterrows():
    
    for weer in df_weer_locs.iterrows():
        gem_lon = gem[1].get("LON(east)")
        gem_lat = gem[1].get("LAT(north)")
        
        gem_coords = (gem_lat, gem_lon)
        
        weer_lon = weer[1].get("LON(east)")
        weer_lat = weer[1].get("LAT(north)")
        
        weer_coords = (weer_lat, weer_lon)
        
        distance =  geopy.distance.geodesic(gem_coords, weer_coords).km
        
        if cur_distance < best_distance:
            best_distance = cur_distance
            closest_weerstation = weer[1].get("WeerStation")
        
        entry=[gem[1].get("Gemeentenaam"), distance, closest_weerstation]
    #     print(entry)
        #turn it into a dataframe and concat it with the previous entries
        data = pd.DataFrame(pd.Series(entry, index=["Gemeentenaam", "distance", "WeerStation"])).T
        df_distances = pd.concat([df_distances, data], axis=0, ignore_index=True)

df_distances.to_csv('2_preprocessed_data/gem_weer_distances.csv', index=False)
df_distances

              Gemeentenaam   distance   WeerStation
0               APPINGEDAM  24.651372  NIEUW BEERTA
1                    BEDUM  19.226322         EELDE
2             BELLINGWEDDE  10.392043  NIEUW BEERTA
3                 TEN BOER  19.778015         EELDE
4                 DELFZIJL  19.157613  NIEUW BEERTA
..                     ...        ...           ...
426        ZWARTEWATERLAND  16.095447     MARKNESSE
427  LEIDSCHENDAM-VOORBURG   6.351017   VOORSCHOTEN
428     PIJNACKER-NOOTDORP   6.828808     ROTTERDAM
429            MONTFERLAND  28.828238        DEELEN
430            MENTERWOLDE  18.415108  NIEUW BEERTA

[431 rows x 3 columns]