In [44]:
import pandas as pd
import requests
import numpy as np
import io

CLEAN ENEXIS NET

varname = restrictions

In [45]:
DsRestrictions = pd.read_csv(url4, header = 0,encoding= 'unicode_escape', sep =",", usecols = ["Postal_Code", "Color","Station"])
DsRestrictions

urlRestrictions = "https://raw.githubusercontent.com/lucasnijder/2AMD20-group19/main/1_source_data/Clean_Enexis_net.csv"
dfRestrictions = pd.read_csv(urlRestrictions, header=0, encoding= "unicode_escape", sep ="," )

columnRenaming_restrictions = {'Postal_Code':'Postcode',
                                'Color':'Kleur',
                                'Station':'EnergieStation'}
columnsNecessary_restrictions = ["Postcode","Kleur","EnergieStation"]

preProcessed_dfRestrictions = dfRestrictions.rename(columnRenaming_restrictions, axis=1)
preProcessed_dfRestrictions = preProcessed_dfRestrictions[columnsNecessary_restrictions]
preProcessed_dfRestrictions.to_csv('2_preprocessed_data/Restrictions.csv')
preProcessed_dfRestrictions

    Postcode   Kleur            Weerstation
0     4251AA  ORANJE              BIESBOSCH
1     4254AA  ORANJE              BIESBOSCH
2     4261AA    ROOD               WAALWIJK
3     4264AA    ROOD               WAALWIJK
4     4271AA  ORANJE        GEERTRUIDENBERG
..       ...     ...                    ...
958   9979AA    GEEL           Winsum Ranum
959   9981AA    GEEL  Eemshaven-Midden 20kV
960   9982AA    GEEL  Eemshaven-Midden 20kV
961   9989AA    GEEL           Winsum Ranum
962   9991AA    GEEL           Winsum Ranum

[963 rows x 3 columns]

GEMEENTEN ALFABETISCH

varname = Municipalities

In [46]:
urlMunicipalities = "https://raw.githubusercontent.com/lucasnijder/2AMD20-group19/main/1_source_data/Gemeenten_alfabetisch_2019.xls"
dfMunicipalities = pd.read_excel(urlMunicipalities)

columnRenaming_municipalities = {}
columnsNecessary_municipalities = ['Gemeentecode','Gemeentenaam','Provinciecode','Provincienaam']

preProcessed_dfMunicipalities = dfMunicipalities[columnsNecessary_municipalities]
preProcessed_dfMunicipalities.to_csv('2_preprocessed_data/Municipalities.csv')
preProcessed_dfMunicipalities

     Gemeentecode     Gemeentenaam  Provinciecode  Provincienaam
0            1680      Aa en Hunze             22        Drenthe
1             358         Aalsmeer             27  Noord-Holland
2             197           Aalten             25     Gelderland
3              59    Achtkarspelen             21      Friesland
4             482     Alblasserdam             28   Zuid-Holland
..            ...              ...            ...            ...
350           879          Zundert             30  Noord-Brabant
351           301          Zutphen             25     Gelderland
352          1896  Zwartewaterland             23     Overijssel
353           642      Zwijndrecht             28   Zuid-Holland
354           193           Zwolle             23     Overijssel

[355 rows x 4 columns]

WINDENERGIE

varname = Wind

In [47]:
urlWind = "https://raw.githubusercontent.com/lucasnijder/2AMD20-group19/main/1_source_data/Windenergie_op_land__per_provincie_24052022_142754.csv"
dfWind = pd.read_csv(urlWind, header=0, encoding= "unicode_escape", sep =";" )

columnRenaming_wind = {"ï»¿\"Regio's\"":'Regio', 
                        "Perioden":"Periode"}
columnsNecessary_wind = ['Regio','Periode',
                            'Elektriciteitsproductie/Genormaliseerde productie (mln kWh)',
                        	'Elektriciteitsproductie/Productiefactor (%)',
                            'Elektrisch vermogen/Opgesteld vermogen einde jaar (megawatt)']
                            
preProcessed_dfWind = dfWind.rename(columnRenaming_wind, axis=1)
preProcessed_dfWind = preProcessed_dfWind[columnsNecessary_wind]
preProcessed_dfWind = preProcessed_dfWind[preProcessed_dfWind['Periode'] == 2019]
preProcessed_dfWind = preProcessed_dfWind.drop('Periode', axis=1)

preProcessed_dfWind.to_csv('2_preprocessed_data/Wind.csv')
preProcessed_dfWind

,Regio,Elektriciteitsproductie/Genormaliseerde productie (mln kWh),Elektriciteitsproductie/Productiefactor (%),Elektrisch vermogen/Opgesteld vermogen einde jaar (megawatt)
0,Nederland,7429.0,"25,9",3527
2,Groningen (PV),986.0,"26,7",450
4,FryslÃ¢n (PV),415.0,"25,8",197
6,Drenthe (PV),NaN,NaN,22
8,Overijssel (PV),86.0,"23,1",61
10,Flevoland (PV),2424.0,"24,8",1175
12,Gelderland (PV),152.0,"22,7",82
14,Utrecht (PV),78.0,"27,8",34
16,Noord-Holland (PV),635.0,24,313
18,Zuid-Holland (PV),956.0,"27,7",437
20,Zeeland (PV),1189.0,"28,3",519
22,Noord-Brabant (PV),442.0,"25,3",225
24,Limburg (PV),NaN,NaN,13

ENERGIEVERBRUIK PARTICULIER

varname = energyUsage

<sup>--> vraag: willen we iets doen met woningkenmerken (e.g. rijtjeshuis)?<sup>

In [48]:
urlEnergyUsage = "https://raw.githubusercontent.com/lucasnijder/2AMD20-group19/main/1_source_data/energieverbruik%20particuliere%20woniningen%20-%2084837NED_UntypedDataSet_21052022_135719.csv"
dfEnergyUsage = pd.read_csv(urlEnergyUsage, header=0, encoding= "unicode_escape", sep =";")

columnRenaming_energyUsage = {"Gemeentenaam_1":'Gemeentenaam', 
                        "GemiddeldAardgasverbruik_4":"GemiddeldAardgasverbruik",
                        "GemiddeldElektriciteitsverbruik_5":"GemiddeldElektriciteitsverbruik"}
columnsNecessary_energyUsage = ["Gemeentenaam", "GemiddeldAardgasverbruik","GemiddeldElektriciteitsverbruik"]

preProcessed_dfEnergyUsage = dfEnergyUsage.rename(columnRenaming_energyUsage, axis=1)
preProcessed_dfEnergyUsage = preProcessed_dfEnergyUsage[columnsNecessary_energyUsage]

preProcessed_dfEnergyUsage["GemiddeldAardgasverbruik"] = pd.to_numeric(preProcessed_dfEnergyUsage["GemiddeldAardgasverbruik"], errors="coerce")
preProcessed_dfEnergyUsage["GemiddeldElektriciteitsverbruik"] = pd.to_numeric(preProcessed_dfEnergyUsage["GemiddeldElektriciteitsverbruik"], errors="coerce")

grouped_preProcessed_dfEnergyUsage = preProcessed_dfEnergyUsage.groupby(["Gemeentenaam"])[["GemiddeldAardgasverbruik","GemiddeldElektriciteitsverbruik"]].sum().reset_index()

grouped_preProcessed_dfEnergyUsage.to_csv('2_preprocessed_data/EnergyUsage.csv')
grouped_preProcessed_dfEnergyUsage

,Gemeentenaam,GemiddeldAardgasverbruik,GemiddeldElektriciteitsverbruik
0,'s-Gravenhage,1344290.0,3002430.0
1,'s-Hertogenbosch,985580.0,2318090.0
2,Aa en Hunze,632890.0,1093470.0
3,Aalsmeer,148310.0,319190.0
4,Aalten,325310.0,690380.0
...,...,...,...
351,Zundert,186160.0,404530.0
352,Zutphen,370140.0,756230.0
353,Zwartewaterland,361420.0,742320.0
354,Zwijndrecht,656700.0,1468820.0
355,Zwolle,772210.0,1698240.0

INWONERS PER GEMEENTE

varname = InhabitantsMunicipality

In [49]:
urlInhabitantsMunicipality = "https://raw.githubusercontent.com/lucasnijder/2AMD20-group19/main/1_source_data/inwoners%20per%20gemeente.csv"
dfInhabitantsMunicipality = pd.read_csv(urlInhabitantsMunicipality, header=0, encoding= "unicode_escape", sep =";" )

columnRenaming_inhabitantsMunicipality = {'Gemeente':'Gemeentenaam'}
columnsNecessary_inhabitantsMunicipality = ["Gemeentenaam", "Inwoneraantal" ,"Groot, middelgroot en klein"]
                            
preProcessed_inhabitantsMunicipality = dfInhabitantsMunicipality.rename(columnRenaming_inhabitantsMunicipality, axis=1)
preProcessed_inhabitantsMunicipality = preProcessed_inhabitantsMunicipality[columnsNecessary_inhabitantsMunicipality]

preProcessed_inhabitantsMunicipality["Inwoneraantal"] = pd.to_numeric(preProcessed_inhabitantsMunicipality["Inwoneraantal"], errors="coerce")
preProcessed_inhabitantsMunicipality = preProcessed_inhabitantsMunicipality[preProcessed_inhabitantsMunicipality["Inwoneraantal"] > 30000]
preProcessed_inhabitantsMunicipality['Gemeentenaam'] = preProcessed_inhabitantsMunicipality['Gemeentenaam'].map(lambda x: x.strip("?"))

preProcessed_inhabitantsMunicipality.to_csv('2_preprocessed_data/InhabitantsMunicipality.csv')
preProcessed_inhabitantsMunicipality

            Gemeentenaam  Inwoneraantal Groot, middelgroot en klein
1               Aalsmeer          31499                       Klein
6                Alkmaar         108470                       Groot
7                 Almelo          72629                 Middelgroot
8                 Almere         203990                       Groot
9    Alphen aan den Rijn         109682                       Groot
..                   ...            ...                         ...
347           Zoetermeer         124695                       Groot
349             Zuidplas          41882                       Klein
351              Zutphen          47537                       Klein
353          Zwijndrecht          44586                       Klein
354               Zwolle         126116                       Groot

[177 rows x 3 columns]

PC6-GWB2020

varname = postcodeMunicipality

In [50]:
urlpostcodeMunicipality = "https://raw.githubusercontent.com/lucasnijder/2AMD20-group19/main/1_source_data/pc6-gwb2020.csv"
dfPostcodeMunicipality = pd.read_csv(urlpostcodeMunicipality, header=0, encoding= "unicode_escape", sep =";" )

columnRenaming_postcodeMunicipality = {"PC6":"Postcode",
                                        "Gemeente2020":"Gemeentecode"}
columnsNecessary_postcodeMunicipality = ["Postcode", "Gemeentecode"]
                            
preProcessed_postcodeMunicipality = dfPostcodeMunicipality.rename(columnRenaming_postcodeMunicipality, axis=1)
preProcessed_postcodeMunicipality = preProcessed_postcodeMunicipality[columnsNecessary_postcodeMunicipality]

preProcessed_postcodeMunicipality.to_csv('2_preprocessed_data/postcodeMunicipality.csv')
preProcessed_postcodeMunicipality

       Postcode  Gemeentecode
0        1011AB           363
1        1011AC           363
2        1011AD           363
3        1011AE           363
4        1011AG           363
...         ...           ...
489648   9999XH          1966
489649   9999XJ          1966
489650   9999XJ          1966
489651   9999XK          1966
489652   9999XL          1966

[489653 rows x 2 columns]

ZONNESTROOM VERMOGEN

varname = sun

In [51]:
urlSun = "https://raw.githubusercontent.com/lucasnijder/2AMD20-group19/main/1_source_data/zonnestroom%20vermogen%202019%20-%2085010NED_UntypedDataSet_21052022_134211.csv"
dfSun = pd.read_csv(urlSun, header=0, encoding= "unicode_escape", sep =";" )

columnRenaming_sun = {"Gemeentenaam_1":"Gemeentenaam",
                    "AantalInstallatiesBijWoningen_5":"AantalInstallatiesBijWoningen",
                    "OpgesteldVermogenVanZonnepanelen_6":"OpgesteldVermogenVanZonnepanelen"}
columnsNecessary_sun = ["Gemeentenaam", "AantalInstallatiesBijWoningen" , "OpgesteldVermogenVanZonnepanelen"]
                            
preProcessed_sun = dfSun.rename(columnRenaming_sun, axis=1)
preProcessed_sun = preProcessed_sun[columnsNecessary_sun]

grouped_preProcessed_sun = preProcessed_sun.groupby(["Gemeentenaam"])[["AantalInstallatiesBijWoningen", "OpgesteldVermogenVanZonnepanelen"]].sum().reset_index()
grouped_preProcessed_sun = grouped_preProcessed_sun[grouped_preProcessed_sun['Gemeentenaam'] != '                                        ']
grouped_preProcessed_sun['Gemeentenaam'] = grouped_preProcessed_sun['Gemeentenaam'].map(lambda x: x.strip(" "))

grouped_preProcessed_sun.to_csv('2_preprocessed_data/Sun.csv')
grouped_preProcessed_sun

,Gemeentenaam,AantalInstallatiesBijWoningen,OpgesteldVermogenVanZonnepanelen
1,'s-Gravenhage,29805.0,76786.0
2,'s-Hertogenbosch,18673.0,66087.0
3,Aa en Hunze,7634.0,29820.0
4,Aalsmeer,4866.0,17104.0
5,Aalten,5919.0,22730.0
...,...,...,...
353,Zundert,3513.0,15257.0
354,Zutphen,8097.0,23831.0
355,Zwartewaterland,3404.0,11751.0
356,Zwijndrecht,4229.0,13015.0
357,Zwolle,28684.0,87308.0

WEERDATA